<div class="row">
    <!-- <div class="col-md-6 col-sm-12"> -->
        <div class="col-md-6 col-sm-12" >
            <canvas id="PieChartForEventsData">{{ eventsChart }}</canvas>
        </div>
    <!-- </div> -->
    <!-- <div class="col-md-6 col-sm-12"> -->
        <div class="col-md-6 col-sm-12" >
            <canvas id="PieChartForUsersData">{{ usersChart }}</canvas>
        </div>
    <!-- </div> -->
</div>
<div class="justify-content-center" style="height: 410px;">
    <canvas id="barChartForEvents">{{ usersChart }}</canvas>
</div>