body{
    background-image: url("../../../assets/Images/backpdf.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}
.invitation-container {
    padding-top: 15%;
}
.text-container {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    opacity: 0.8;
}

h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.event-details {
    margin-bottom: 30px;
}

    .event-details p {
        margin-bottom: 5px;
    }

.note {
    font-style: italic;
}

.invitation {
    text-align: center;
    margin-top: 30px;
}

    .invitation p {
        font-weight: bold;
    }