<div class="container-fluid mx-0 my-auto">
    <div class="row" style="height:100vh">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 px-0">

            <div class="carousel-item active" >
                <img id="bannerImage" src="../../assets/Images/logo.png"
                     class="d-block  w-100" alt="..." style="height:100vh;">
            </div>


        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 align-self-center my-auto">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
